{% extends "filter.html" %}

{% block childblock %}
<style type="text/css">
img.resize{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
</style>
<hr style="border-top: dotted 0.5px">
<h3>{{ form.fil.data }} filter preview. Image uploaded to S3 instance.</h3>
<img class="resize" src="{{ url_for('static', filename=outputpath, target='_blank') }}"  />
<br>
<br>
Select 'Apply Filter!' to preview a new filter.
<br>
Select 'Download Image' to open image in a new tab and download.
<br>
Select 'Upload New Image' to upload a new image.
<br>
<br>
<br>
<form action="/download/{{ outputpath }}" method="get">
        <input type="submit" value="Download Image"/>
        <a href="/"><button type="button">Upload New Image</button></a>
</form>

{% endblock %}