{% extends "template.html" %}

{% block content %}
<style type="text/css">
img.resize{
   height: auto;
   width: auto;
   max-width: 300px;
   max-height: 300px;
}
</style>
<h2>Filter Preview</h2>
Your image has been successfully uploaded!
Select a filter and click 'Apply Filter!' to preview and download to S3.
<br>
<br>
<img class="resize" src="{{ url_for('static', filename=photopath) }}" />

<form action="/filter/{{ photopath }}/process" method="post" novalidate>

        <p>
            {{ form.fil(style="list-style:none") }}
        </p>

        <p>{{ form.submit() }}</p>
</form>

{% endblock %}


